*           { margin: 0; padding: 0; }

header      { height: 110px; background-image: url(images/bg_menu.png); background-repeat: repeat-x;
               border-bottom: 2px solid #cc2c0c; }
footer      { height: 80px; bottom: 0; background: #dadada; border-top: 2px solid #cc2c0c; }


